/.idea/
/Mead_Comms_Automation/allure-results/
/Common_Utility/target/
/Mead_Comms_Automation/target/
/Mead_Turnout_Automation/target/
/Mead_Turnout_Automation/test-output/
/Mead_Comms_Automation/test-output/
/Mead_Turnout_Automation/allure-results/
/Mead_Turnout_Automation/REPORTS/
/Mead_Comms_Automation/REPORTS/
